[Unit]
Description=Set relays

[Service]
Environment="PYTHONPATH=/opt/heizung"
ExecStart=/opt/heizung/venv/bin/python /opt/heizung/system/setRelays.py
