[Unit]
Description=Start heizung webUI

[Service]
WorkingDirectory=/opt/heizung
Environment="PYTHONPATH=./"
ExecStart=/opt/heizung/venv/bin/waitress-serve --port=80 --call 'app:get_app'

[Install]
WantedBy=multi-user.target
