{% extends "_base.html" %}
{% set title='Dashboard' %}
{% set heading='Dashboard' %}

{% block breadcumb %}
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
{% endblock %}

{% block content %}
<!-- Small boxes (Relay status box) -->
      <div class="row">

        {% for relay in relays %}
            <div class="col-lg-3 col-xs-6">
                <div class="small-box {{ 'bg-green' if relay.on else 'bg-red' }}">
                    <div class="inner">
                        <h3>{{ 'On' if relay.on else 'Off' }}</h3>
                        <p>{{ relay.name }}</p>
                    </div>
                    <div class="icon">
                        {{ relay.port }}
                    </div>
                    <a href="{{ url_for('relay', relayID=relay.id) }}" class="small-box-footer">Detail <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        {% endfor %}

        <!-- ./col -->
      </div>

      <div class="row">

        {% for sensor in sensors %}
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-blue">
                    <div class="inner">
                        <h3>{{ sensor.value }}&deg;C</h3>
                        <p>{{ sensor.name }}</p>
                    </div>
                    <a href="{{ url_for('sensor', sensorID=sensor.id) }}" class="small-box-footer">Detail <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        {% endfor %}

        <!-- ./col -->
      </div>
      <!-- /.row -->
      <!-- Main row -->

      <!-- /.row (main row) -->
{% endblock %}
