{% extends "_base.html" %}
{% set title='value condition' %}
{% if edit == True%}{% set heading='Edit condition' %}{% else %}{% set heading='New condition'%}{% endif %}

{% block breadcumb %}
    <ol class="breadcrumb">
        <li>Home</li>
        <li>Rules</li>
        <li>{{ rule.name }}</li>
        <li class="active">{{ heading }}</li>
    </ol>
{% endblock %}

{% block content %}
    <form action="" method="post">
    {{ form.csrf_token }}
    <div class="row">
        <div class="col-md-4">
            {{ form.sensor.label }}
            {% if form.sensor.errors %}<br><span class="text-danger">{{ form.sensor.errors[0] }}</span>{% endif %}
        </div>
        <div class="col-md-4">
            {{ form.relation.label }}
            {% if form.relation.errors %}<br><span class="text-danger">{{ form.relation.errors[0] }}</span>{% endif %}
        </div>
        <div class="col-md-4">
            {{ form.value.label }}
            {% if form.value.errors %}<br><span class="text-danger">{{ form.value.errors[0] }}</span>{% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {{ form.sensor(class_="form-control") }}
        </div>
        <div class="col-md-4">
            {{ form.relation(class_="form-control") }}
        </div>
        <div class="col-md-4">
            {{ form.value(class_="form-control") }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary">{% if edit == True %}Save{% else %}Create{% endif %}</button>
        </div>
    </div>
    </form>

{% endblock %}
