{% extends "_base.html" %}
{% set title='Relay' %}
{% set heading=relay.name %}

{% block breadcumb %}
    <ol class="breadcrumb">
        <li>Home</li>
        <li>Relays</li>
        <li class="active">{{ relay.name }}</li>
    </ol>
{% endblock %}

{% block content %}

    <form action="" method="post">
    {{ form.csrf_token }}
    <div class="row">
        <div class="col-md-1">
            Link new rule:
        </div>
        <div class="col-md-2">
            {{ form.rule(class_="form-control") }}
        </div>
        <div class="col-md-1">
            <button type="submit" class="btn btn-primary">link</button>
        </div>
    </div>
    </form>

    <div class="row">
        <div class="col-md-6">
            This relay is active, if one of the following rules is true:
            <ul>
                {% for rule in rules %}
                    <li>{{ rule.name }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-1">
            <a href="#" class="btn btn-danger" disabled title="Not implemented yet"><i class="fa fa-trash"></i> Delete relay</a><br>
        </div>
    </div>

{% endblock %}
