{% extends "_base.html" %}
{% set title='Rule' %}
{% set heading=rule.name %}

{% block breadcumb %}
    <ol class="breadcrumb">
        <li>Home</li>
        <li>Rules</li>
        <li class="active">{{ rule.name }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
         This rule is currently <span class="badge {{ 'badge-success' if rule.fulfilled else 'badge-danger' }}">
            {{ 'True' if rule.fulfilled else 'False' }}
        </span>.
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            This rule is active, if the following condition is True:<br>
            {% if rule.conditions %}
                <ul>
                {% for condition in rule.conditions %}
                    <li class="{{ 'text-success' if condition.fulfilled else 'text-danger' }}">{% if loop.index > 1 %}<b>{{ rule.op}}</b> {% endif %}{{ condition }}</li>
                {% endfor %}
                </ul>
            {% else %}
                <i>No conditions set</i>
            {% endif %}
        </div>
        <div class="col-md-1">
            <a href="{{ url_for('new_sensor_compare_condition', ruleID=rule.id) }}" class="btn btn-primary"><i class="fa fa-plus"></i> Compare two sensors</a><br>
            <br>
            <a href="{{ url_for('new_sensor_diff_condition', ruleID=rule.id) }}" class="btn btn-primary"><i class="fa fa-plus"></i> Compare difference of two sensors with value</a><br>
            <br>
            <a href="{{ url_for('new_value_compare_condition', ruleID=rule.id) }}" class="btn btn-primary"><i class="fa fa-plus"></i> Compare sensor with value</a><br>
            <br>
            <a href="{{ url_for('delete_rule', ruleID=rule.id) }}" class="btn btn-danger"><i class="fa fa-trash"></i> Delete rule</a><br>
        </div>
    </div>

{% endblock %}
