{% extends "_base.html" %}
{% set title='Sensor' %}
{% set heading=sensor.name %}

{% block breadcumb %}
    <ol class="breadcrumb">
        <li>Home</li>
        <li>Sensors</li>
        <li class="active">{{ sensor.name }}</li>
    </ol>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-6">
            <b>Current value:</b> {{ sensor.value }}&deg;C
        </div>
        <div class="col-md-1">
            <a href="{{ url_for('del_sensor', sensorID=sensor.id) }}" class="btn btn-danger" title="delete sensor"><i class="fa fa-trash"></i> Delete sensor</a><br>
        </div>
    </div>

    <br>

    <form action="" method="post">
    <div class="row">
        <div class="col-md-1">{{ form.start.label }}</div>
        <div class="col-md-2">{{ form.start(class_='form-control') }}</div>
        <div class="col-md-3">
            <a href="?interval=12h" class="btn btn-primary" type="button">12h</a>
            <a href="?interval=24h" class="btn btn-primary" type="button">24h</a>
            <a href="?interval=3d" class="btn btn-primary" type="button">3d</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">{{ form.end.label }}</div>
        <div class="col-md-2">{{ form.end(class_='form-control') }}</div>
        <div class="col-md-1"><button class="btn btn-primary" type="submit">OK</button> </div>
    </div>
    </form>

    <div class="row">
        <div class="col-md-12">

          <!-- Chart -->
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs pull-right">
              <li class="pull-left header"><i class="fa fa-line-chart"></i> {{ sensor.name }}</li>
            </ul>
            <div class="tab-content no-padding">
              <!-- Morris chart - Sales -->
              <div class="chart tab-pane active" id="temp-chart" style="position: relative; height: 300px;"></div>
            </div>
          </div>
          <!-- /Chart -->

        </div>
      </div>

    {% if sensor.is_remote %}
    <div class="row">
        <div class="col-md-12">
            <p>
                This sensor is a remote sensor. Values are not meassured on this device but received with API calls.
            </p>
            <p>
                <b>API Credentials:</b><br>
                ID: <tt>{{ sensor.id }}</tt><br>
                Key: <tt>{{ sensor.remoteSensor.key }}</tt><br>
                Send HTTP-GET-Requests to: <tt>{{ url_for('api_remote_sensor_new_value',sensorID=sensor.id) }}?value={value}&signature={signature}</tt><br>
                where {value} is the current temperature in &deg;C as a float and signature is the SHA256 hash of the value concatenated with the key.
            </p>
        </div>
    </div>
    {% endif %}

{% endblock %}
{% block extraJS %}
    <script type="text/javascript">
    var area = new Morris.Area({
    element   : 'temp-chart',
    resize    : true,
    data      : {{ tempdata | safe }},
    xkey      : 'y',
    ykeys     : ['item1', ],
    labels    : ['Temperature', ],
    lineColors: ['#a0d0e0', '#3c8dbc'],
    hideHover : 'auto'
    });

    </script>
{% endblock %}
